name: Check build files

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-dist:
    uses: necko-actions/reusable-workflows/.github/workflows/check-directory.yml@v1
    with:
      directory: dist
